[Unit]
Description=Gunicorn service for Flask site
After=network.target rpi2w-system-helper.service
Wants=rpi2w-system-helper.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/rpi2w-ups-portal
Environment="PATH=/srv/rpi2w-ups-portal/.venv/bin"
EnvironmentFile=-/etc/default/rpi2w-portal
ExecStart=/srv/rpi2w-ups-portal/.venv/bin/gunicorn --config gunicorn.conf.py wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
